
<mat-toolbar color="primary">
  <span class="sp-logo">Flock</span>
  <span class="example-spacer-small"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- =====================================================
  Menu
  ====================================================== -->
<mat-menu #menu="matMenu">
  <a href="https://handsomeflockers.wixsite.com/flock" mat-menu-item>
    <span>Flock blog</span>
  </a>
  <!--
  <button mat-menu-item>
    <span>Logout</span>
  </button>
  -->
</mat-menu>

<!-- =====================================================
  Main thing
  ====================================================== -->
<div class="main-holder">
  <div class="main-header-section">
    <div class="head">
      <div class="header">
        <p>Flock</p>
      </div>
      <div class="sub-header">
        <p>Download the app</p>
      </div>
    </div>
    <div class="buttons">
      <h4>Download on</h4>
      <a mat-fab href="/assets/flock.apk">
        <mat-icon aria-label="Android">android</mat-icon>
      </a>
      <P>You'll need to tick 'allow installation of apps from unkown sources' in your phone's security settings</P>
    </div>
    <p>For families who want to easily organise family activities</p>
    <!--
    <a class="align" href="/assets/flock.apk" download mat-raised-button>Download on <mat-icon class="blign" aria-label="Android">android</mat-icon></a>
    -->
  </div>
</div>

